[workspace]

[package]
name = "oracle"
version = "0.5.4"
authors = ["Kubo Takehiro <kubo@jiubao.org>"]
build = "build.rs"
repository = "https://github.com/kubo/rust-oracle"
license = "UPL-1.0/Apache-2.0"
keywords = ["oracle", "database"]
readme = "README.md"
description = "Oracle binding"
edition = "2018"

[package.metadata.docs.rs]
all-features = true

[features]
aq_unstable = []

[dependencies]
lazy_static = "1.3.0"
paste = "1.0.5"
chrono = { version = "0.4", optional = true }
oracle_procmacro = { version = "0.1", path = "./oracle_procmacro" }

[build-dependencies]
cc = "1.0"

[dev-dependencies]
uuid = "0.8"
